<div class="d-flex flex-column h-100">
  <footer class="w-100 py-4 flex-shrink-0 d-flex">
    <div class="container pt-5">
      <div
        class="row gy-4 gx-5 d-flex align-items-center justify-content-center"
      >
        <div class="col-lg-4 col-md-5 d-flex justify-content-center">
          <div>
            <h5 class="h1 text-white">mR.</h5>
            <p class="small text-white">
              miniReddit is trying to be more like Reddit!
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 d-flex justify-content-center">
          <div>
            <h5 class="text-white mb-3">Quick links</h5>
            <ul class="list-unstyled text-white">
              <li><a href="/#">Home</a></li>
              <li><a href="/p/">Subpages</a></li>
              <li><a href="/p/new">New Subpage</a></li>
              <li><a href="/about">About</a></li>
            </ul>
          </div>
        </div>
        <div
          class="col-lg-4 col-md-3 d-flex align-items-center justify-content-center"
        >
          <h5 class="text-white mb-3">My</h5>
          <ul class="list-unstyled text-white">
            <li>
              <a href="https://github.com/JoyJinx"
                ><i class="fa-brands fa-github fa-xl mx-2"></i>Github</a
              >
            </li>
          </ul>
        </div>
        <p class="small mb-0 text-center text-white">
          &copy; Copyrights. All rights reserved.
        </p>
      </div>
    </div>
  </footer>
</div>
