<nav
  class="navbar fixed-top navbar-expand-lg shadow-lg py-2 navbar-dark d-flex justify-content-between align-items-center"
>
  <div class="container-fluid">
    <div class="d-flex justify-content-center align-items-center me-auto">
      <img
        class="navbar-logo mx-2 mr-2"
        src="/public/favicon-32x32.png"
        alt="logo"
      />
      <a class="navbar-brand pr-5" href="/p">miniR</a>
    </div>
    <button
      class="navbar-toggler order-2 mx-2"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav me-auto">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/p">Subpages</a>
        <a class="nav-link" href="/about">About</a>
      </div>
      <div class="navbar-nav">
        <% if(!currentUser) {%>
        <a class="nav-link" href="/login">Login</a>
        <a class="nav-link" href="/register">Register</a>
        <% } else {%>
        <a class="nav-link" href=""
          ><i class="fa-solid fa-lg fa-user mr-1" style="color: #f37d15"></i>
          <%= currentUser.username %></a
        >

        <a class="nav-link mx-1" href="/logout">Logout</a>
        <% } %>
      </div>
    </div>
    <button id="darkSwitch" class="btn btn-outline-secondary order-1 mx-1">
      <i
        class="fa-solid fa-circle-half-stroke fa-xl"
        style="color: #f37d15"
      ></i>
    </button>
  </div>
</nav>
