<nav
  class="navbar fixed-top navbar-expand-lg shadow-lg py-2 navbar-dark d-flex justify-content-between align-items-center"
>
  <div class="container-fluid">
    <div class="d-flex justify-content-center align-items-center me-auto">
      <a class="navbar-brand pr-5" href="/p">
        <img
          class="navbar-logo mx-2 mr-2"
          src="/public/favicon-32x32.png"
          alt="logo"
        />
        miniR</a
      >
    </div>
    <button
      class="navbar-toggler order-2 mx-2"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav me-auto">
        <a class="nav-link tag3d" href="/">Home</a>
        <a class="nav-link tag3d" href="/p">Subpages</a>
        <a class="nav-link tag3d" href="/about">About</a>
      </div>
      <div class="navbar-nav d-flex align-items-center">
        <% if(!currentUser) {%>
        <a class="nav-link tag3d" href="/login">Login</a>
        <a class="nav-link tag3d" href="/register">Register</a>
        <% } else {%>
        <a
          class="nav-link py-0 d-flex align-items-center tag3d"
          href="/profile"
        >
          <% if(currentUser.optional.realPath) {%>
          <img
            class="mx-1 profile"
            src="<%= currentUser.optional.realPath %>"
            alt="profile"
          />
          <% } else {%>
          <i class="fa-solid fa-user fa-xl mx-2" style="color: #fd9a18"></i>
          <% } %> <%= currentUser.username %></a
        >

        <a class="nav-link mx-1 tag3d" href="/logout">Logout</a>
        <% } %>
      </div>
    </div>
    <!-- <button id="darkSwitch" class="btn btn-outline-secondary order-1 mx-1">
      <i
        class="fa-solid fa-circle-half-stroke fa-xl"
        style="color: #f37d15"
      ></i>
    </button> -->
  </div>
</nav>
