<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/public/css/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/public/css/styles.css" />
    <link rel="icon" type="text/css" href="/public/favicon.ico" />
  </head>
  <body>
    <%- include('../partials/navbar.ejs') %>

    <main class="container-fluid mt-5">
      <%- include("../partials/flash.ejs") %> <%- body %>
    </main>
    <script
      src="https://kit.fontawesome.com/52efd13106.js"
      crossorigin="anonymous"
    ></script>
    <script type="text/script" src="/public/js/jquery-3.7.1.min.js"></script>
    <!-- <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script> -->
    <script type="text/script" src="/public/js/bootstrap.min.js"></script>
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function () {
        "use strict";

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll(".needs-validation");

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms).forEach(function (form) {
          form.addEventListener(
            "submit",
            function (event) {
              if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
              }

              form.classList.add("was-validated");
            },
            false
          );
        });
      })();
    </script>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
