body {
  height: 100vh;
  background-image: linear-gradient(
    rgba(10, 216, 96, 0.5),
    rgba(58, 14, 138, 0.5)
  );
  background-size: cover;
  background-position: center;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}
.cover-container {
  max-width: 60vw;
}
.card-header {
  background-color: #7c7c7c;
}

.nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 1rem;
  border-bottom: 0.25rem solid transparent;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.5);
}

.nav-link.active {
  color: white;
  border-bottom-color: white;
}

.btn3d {
  box-shadow: 0 10px 14px rgba(0, 0, 0, 0.08), 0 0 8px rgba(0, 0, 0, 0.05);
  transition: 0.3s;
}
.btn3d:hover {
  transform: scale(1.07);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.12), 0 4px 10px rgba(0, 0, 0, 0.06);
}

.btn-secondary,
.btn-secondary:hover {
  color: #333;
  text-shadow: none;
}

a {
  text-decoration: none;
}
