* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #0e1b29;
}

.text-small {
  font-size: 0.9rem;
}

a {
  color: ghostwhite;
  text-decoration: none;
  transition: all 0.3s;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #f37d15;
}

.form-control {
  background: rgb(208, 208, 216);
  border-color: #545454;
}

.form-control:focus {
  background: rgb(206, 206, 216);
}

footer {
  margin-top: auto;
  background: #0e1b29;
}

body,
html {
  min-height: 100vh;
  height: 100%;
  min-width: 100vw;
  width: 100%;
  overflow-x: hidden;
}
