/* ==========================================
    FOR DEMO PURPOSE
  ========================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("../../node_modules/font-awesome/css/font-awesome.min.css");

.text-small {
  font-size: 0.9rem;
}

a {
  color: ghostwhite;
  text-decoration: none;
  transition: all 0.3s;
}

a:hover,
a:focus {
  text-decoration: none;
}

.form-control {
  background: #f1f3f5;
  border-color: #545454;
}

.form-control:focus {
  background: ghostwhite;
}

footer {
  margin-top: auto;
  background: #212529;
}

/* ==========================================
      CUSTOM UTILS CLASSES
    ========================================== */
body,
html {
  min-height: 100vh;
  height: 100%;
}
