* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  border: 1px 1px 0 1px solid var(--bs-card-border-color);
  border-radius: 10px;
  box-shadow: 0 10px 14px rgba(0, 0, 0, 0.08), 0 0 8px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  background-color: ghostwhite;
}
.tile:hover {
  transform: scale(1.05);
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.12), 0 4px 10px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
.btn3d {
  box-shadow: 0 10px 14px rgba(0, 0, 0, 0.08), 0 0 8px rgba(0, 0, 0, 0.05);
}
.btn3d:hover {
  transform: scale(1.07);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.12), 0 4px 10px rgba(0, 0, 0, 0.06);
}
.tag3d:hover {
  transform: scale(1.05);
}
.card-title {
  text-align: start;
  unicode-bidi: plaintext;
}
p {
  text-align: start;
  unicode-bidi: plaintext;
}
nav:not(.pagify) {
  background-color: #0e1b29;
}
.pagination > li {
  border-radius: 10px;
  box-shadow: 0 10px 14px rgba(0, 0, 0, 0.08), 0 0 8px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}
.pagify {
  background-color: transparent;
}
.card-body {
  background-color: ghostwhite;

  text-align: start;
  unicode-bidi: plaintext;
}
.card-header {
  background-color: #d3d3d8;
}
.card-footer {
  background-color: #d3d3d8;
}

.text-small {
  font-size: 0.8rem;
}

a {
  color: rgb(27, 27, 32);
  text-decoration: none;
  transition: all 0.3s;
}

.footlink {
  color: #d3d3d8;
  text-decoration: none;
  transition: all 0.3s;
}
.footlink:hover {
  margin-left: 10px;
  transform: scale(1.1);
}
.copyr {
  color: #aaaaaa;
}
.author {
  border: 1px solid #ffffff;
  border-radius: 100%;
}
.profile {
  border: 2px double #fd9a18;
  border-radius: 100%;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #fd9a18;
}

.form-control {
  background: rgb(231, 231, 245);
  border-color: #747474;
}

.form-control:focus {
  background: rgb(206, 206, 216);
}

footer {
  margin-top: auto;
  background: #0e1b29;
}

body,
html {
  min-height: 100vh;
  height: 100%;
  min-width: 100vw;
  width: 100%;
  overflow-x: hidden;
}

body {
  /* background: linear-gradient(rgba(25, 12, 58, 0.5), rgba(189, 90, 9, 0.5)); */
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgb(247, 196, 218) 0%,
    rgb(132, 177, 228) 100%
  );
  background-size: cover;
  background-position: center;
}
