<% layout("layouts/boilerplate") %>

<div class="col-6 offset-3 mt-5">
  <div class="card mb-5">
    <div class="card-header">
      <div class="card-title"><%= foundPage.body %></div>
      <span>-By <%= foundPage.author %></span>
    </div>
    <div class="col-4 offset-4">
      <img class="img-fluid my-2" src="<%= foundPage.img %>" />
    </div>
    <div class="card-footer">likes: <%= foundPage.likes %></div>
  </div>
</div>
